//BOTONES
@mixin botones() {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: $color-blanco;
    color:$color-fondo;
    padding: 5px 50px;
    border: 4px solid $color-amarillo;
    border-radius:50px;
    box-shadow: -7px 6px 14px 0px rgba(0,0,0,0.70);
        
        &:hover{
            color:$color-fondo;
            background-color: $color-amarillo;
            border: $color-blanco 4px solid;
            transition: 0.5s 0s ease-in-out; }
    }
