/*......... PAGINA CONTACTOS.............*/

.content_section-contact{
    @include flexible(flex, column, wrap, center, center);
    margin-top: 150px;

    @include resposiveDesigne(992px){
        width: 80%;
        @include flexible(flex, row, nowrap, space-evenly, center);
    }
}

.section__contact {
    width: 100%;
    position: relative;
    @include flexible(flex, row, flex, space-around, center);
}

.section__form {
    width: 90%;
    height: 700px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: $color-blanco;
    box-shadow: -7px 6px 14px 0px rgba(0,0,0,0.70);

        h2{
            @include fuentes(subtitle, bolder, 1.5em /*24px*/, center, $color-fondo);

                span{
                    font-family: subtitle;
                    color: $color-amarillo;}
        }
        input{
            background-color: $color-blanco;
            width: 90%;
            height: 40px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: $color-amarillo;
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        textarea {
            background-color: $color-blanco;
            width: 90%;
            height: 150px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: $color-amarillo;
            padding-left: 10px;
            padding-top: 15px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-family: subtitle;
            color: $color-fondo;
            margin-top: 15px;    
        }
        .section__form-btn{
            text-align: center;
            margin-top: 20px;
            a{
                @include fuentes(subtitle, bolder, none, center, $color-fondo);
                @include botones();
            }
        }

    @include resposiveDesigne(768px){
        width: 50%;
        padding: 50px;
    }   
}

.section__info{
    padding: 15px;

        h2{
            @include fuentes(subtitle, none, 1.15em /*18.4px*/, left, $color-amarillo);}
        p{
            @include fuentes(text, none, 1em /*16px*/, left, $color-blanco);}

        .section__info-images{
            position: absolute;
            right: 0;
            top: 0;
            display: none;

            @include resposiveDesigne(992px){display: block;}

            img{
                width: 23em;
                overflow: hidden;
            }
        }

        @include resposiveDesigne(992px){
            width: 30%;

            h2{
                @include fuentes(subtitle, none, 1.55em /*24.5px*/, left, $color-amarillo);}
            p{
                @include fuentes(text, none, 1.15em /*18.4px*/, left, $color-blanco);}}
}
