// CAJAS FLEXIBLES 
@mixin flexible ($display , $direction , $flex , $justify , $align) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $flex;
    justify-content: $justify;
    align-items: $align;
}
