@font-face {
    font-family: "Roboto", sans-serif;
    src://: local("Roboto"),
    url("Roboto-Bold.ttf")format('truetype');
    }

    @mixin fuentes($family , $bold, $size , $font-align , $font-color){
        font-family: $family;
        @if $family != "none" {font-weight: $bold;}  
        @if $bold != "none" {font-weight: $bold;}
        @if $size != "none" {font-size: $size;}
        text-align: $font-align;
        color: $font-color;
    }


