#footer {
    width: 100%;
    position: relative;
    background-color: $color-amarillo;

        .footer__content{
            @include flexible(flex, column, wrap, space-around, center);
            padding: 15px;

            @include resposiveDesigne(992px){
                @include flexible(flex, row, nowrap, space-evenly, center);
            }
        }
        span{
            @include fuentes('Roboto', none, 0.8em, center, $color-fondo);
            @include resposiveDesigne(992px){font-size: 1em;}

        }
    }

/* ubicaciones */
.footer__ubicacion{
    @include flexible(flex, row, nowrap, space-around, center);

    img{
        width: 2em;
        margin-right: 10px;
        
        @include resposiveDesigne(992px){width: 3em;}
    }
}

/* redes sociales */

.footer__redesSociales ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
        display: inline-block;

        img{
            width: 2em;
            @include resposiveDesigne(992px){width: 3em;}

            &:hover{
                opacity: 0.8
            }
        }
    }
}

/*Copy*/

.footer__copy{
    text-align: center;

    small{
        @include fuentes('Roboto', none, 0.6em, center, $color-fondo);
        padding:10px;
        line-height: normal;

        @include resposiveDesigne(992px){font-size: 0.9em;}
    }

    .footer__icon-copy{
        margin-right: 4px;
    }
}

