/*....................HEADER.................*/  
#section__header {
    width: 100%;
    height: auto;
    background-color: $color-menu;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .nav__logo {
        display: flex;
        align-items: center;
    
        img{
            width: 2em; /*32px*/}
        }
        .nav__logo > span {
        display: none;
        font-family: 'Roboto-Medio', sans-serif;
        margin-left: 0.625em; /*10px*/
        color: $color-blanco;
            @include resposiveDesigne(992px){
                display: inline-block;}
    }
    .nav__btn-collapse > span > img {
        width: 1.25em; }

        .header__nav ul li:hover {
            transform: scale(1.2); 
        }
        .header__nav ul li a {
            font-family: 'Roboto-Medio', sans-serif;
            font-weight: bolder;
            text-align: center;
            color: $color-blanco; 

            &:hover{
                color: $color-amarillo; 
            }
        }

