//............ PAGINA NOSOTROS.............
.nosotros{
    margin-top: 80px;
}

    .nostros__images{
        background-image: url('../assets/img/banner-nosotros.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        width: 100%;
        height: 95vh;
        overflow: hidden;
    }

.nosotros__content{

    h2{
        @include fuentes('Roboto', none, 1.5em /*24px*/, center, $color-blanco);
            margin-top: 1.5em;   

            span{
                color: $color-amarillo;}

        @include resposiveDesigne(992px){ @include fuentes('Roboto', bold, 2em /*48px*/, center,   $color-blanco);}
        }
    .nosotros__text{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        
        @include resposiveDesigne(992px){
            grid-template-columns: 1fr 1fr;
            gap: 40px;}

        p{
            @include fuentes('Roboto', none, 1em /*16px*/, justify, $color-blanco);
            line-height: 24px;  
            
            @include resposiveDesigne(992px){ @include fuentes('Roboto', none, 1.15em /*20px*/, justify, $color-blanco);}
        }
    }
}
