/* .............SECTION QUE-HACEMOS...........*/
#section__queHacemos {
    height: auto;
    text-align: center;
    margin-top: 1.87em; /*30px*/ 

    h2{
        @include fuentes ("Roboto", bold, 1.5em, center, $color-blanco);
        margin-bottom: 1.85em; /*30px*/
        @include resposiveDesigne(1200px){ font-size: 2em;
            /*24px*/}
    }

    .cards{
        img{
            width: 4em;    /*64px*/
            display: block;
            @include margin-0();
            padding: 15px; 

            @include resposiveDesigne(1200px){width: 5em;}
            }
        }
        h3{
            @include fuentes ("Roboto", none, 1.05em, center, $color-amarillo);
        }
        p{
            @include fuentes ("Roboto", none, 0.85em, justify, $color-blanco);
            padding: 15px; 
            line-height: 1.5;

            @include resposiveDesigne(1200px){font-size: 1.125em;
                /*18px*/ } }
        }

    .section__queHacemos-btn {
        margin: 1.87em 0 1.87em 0;  /*30px*/
        
        a{
            @include fuentes("Roboto", bolder, none, center, $color-fondo);
            @include botones()
        }
        @include resposiveDesigne(992px){
            font-size: 1.25em; /*20px*/
            padding: 10px 84px;
        }
    }  
    