// FUENTES
@import url(../assets/font/Roboto-Bold.ttf);
@import url(../assets/font/Roboto-Medium.ttf);
@import url(../assets/font/Roboto-Regular.ttf);

// Font Variables
$title: "Roboto-Bold", serif;
$subtitle: "Roboto-Medium", serif;
$text: "Roboto-Regular", serif;

// COLORES
$color-fondo: #4d4d4d;
$color-menu:#4d4d4daf;
$color-blanco: #f1f1f1;
$color-amarillo: #eebd2c; 
  
@mixin flexible ($display , $direction , $flex , $justify , $aling) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $flex;
    justify-content: $justify;
    align-items: $aling;
}

